aniso8601==3.0.2
asgiref==3.4.1
async-generator==1.10
backcall==0.2.0
bcrypt==3.2.0
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.3
click==8.0.1
click-log==0.3.2
dataclasses-json==0.5.4
decorator==5.0.9
Django==3.2.6
fb-sapp==0.4.1
Flask==2.0.1
Flask-GraphQL==2.0.1
graphene==2.1.3
graphene-sqlalchemy==2.3.0
graphql-core
graphql-relay
graphql-server-core
greenlet==1.1.0
idna==3.2
ipython==7.25.0
ipython-genutils==0.2.0
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.1
libcst==0.3.19
MarkupSafe==2.0.1
marshmallow==3.13.0
marshmallow-enum==1.5.1
matplotlib-inline==0.1.2
munch==2.5.0
mypy-extensions==0.4.3
mysql-connector-python==8.0.26
mysqlclient==2.0.3
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
promise==2.3
prompt-toolkit==3.0.19
protobuf==3.17.3
psutil==5.8.0
psycopg2-binary==2.9.1
ptyprocess==0.7.0
pycparser==2.20
Pygments==2.9.0
pyre-check==0.9.3
pyre-extensions==0.0.21
python-taint==0.42
pytz==2021.1
pywatchman==1.4.1
PyYAML==5.4.1
requests==2.26.0
Rx==1.6.1
singledispatch==3.6.2
six==1.16.0
SQLAlchemy==1.4.22
sqlparse==0.4.1
stringcase==1.2.0
tabulate==0.8.9
traitlets==5.0.5
typing-extensions==3.10.0.0
typing-inspect==0.7.1
ujson==4.0.2
urllib3==1.26.6
wcwidth==0.2.5
Werkzeug==2.0.1
xxhash==2.0.2
